.footer-wrapper {
    padding: 20px 0;
    min-height: 195px;
    background-color: #191818;
}

.info-wrapper {
    max-width: 330px;
}

.sociality-wrapper {
    max-width: 250px;
    margin-bottom: 12px;
}

.sociality img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

.sociality img:hover {
    opacity: 1;
}

.sociality-wrapper > .cta-button {
    margin-top: 24px;
    width: 215px;
}

.footer-nav-wrapper {
    max-width: 300px;
    width: 100%;
}

.footer-nav-title {
    font-size: 1.3em;
    font-weight: 700;
}

ul.footer-nav {
    margin-top: 12px;
    list-style: none;
}

ul.footer-nav > li {
    margin-bottom: 6px;
}

ul.footer-nav > li.nav-item a::after {
    bottom: -2px;
}

@media (max-width: 1200px) {
    .footer-nav-wrapper {
        max-width: 200px;
    }
}
