.navbar-wrapper {
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: 65px;
    max-height: 65px;
    background-color: #191818;
}

.navbar-content {
    height: 65px;
}

ul.nav > li.nav-item {
    margin: 0 16px;
}

li.nav-item a {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    transition: .2;
}

li.nav-item a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: opacity .2s;
    background-color: #d67600;
}

li.nav-item a:hover::after {
    opacity: 1;
}

.cta-button {
    font-weight: 700;
    height: 40px;
    width: 120px;
    border: 0;
    border-radius: 8px;
    background-color: #bd6800;
    transition: background-color .2s;
}

.cta-button:hover {
    background-color: #df9112;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    border: none;
    border-radius: 6px;
    background-color: #bd6800;
}

.hamburger-bar {
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background-color: #ffffff;
    transition: transform 0.2s, opacity 0.2s;
}

.hamburger-bar:not(:first-child) {
    margin-top: 5px;
}

.hamburger-menu.active .hamburger-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .hamburger-bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .hamburger-bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.mobile-collapse-menu {
    position: absolute;
    top: 65px;
    right: 20px;
    padding: 4px 12px 12px;
    border-radius: 0 0 12px 12px;
    background-color: #282828;
}

@media (max-width: 992px) {
    .logo-wrapper img {
        height: 30px;
    }
}

@media (max-width: 767px) {
    ul.nav > li.nav-item {
        margin: 12px 16px;
    }
}
